<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCalendarsFullAccessUsageDescription</key>
  <string>Apple 캘린더와 일정을 양방향으로 동기화하기 위해 캘린더 접근 권한이 필요해요.</string>
  <key>NSCalendarsUsageDescription</key>
  <string>Apple 캘린더와 일정을 양방향으로 동기화하기 위해 캘린더 접근 권한이 필요해요.</string>
</dict>
</plist>
